//---------------------------------------------------
//  Variables
//---------------------------------------------------

$global_color: #4C4C4C;
$time: #ffffff;
$sub_title_bar: #cccccc;
$current: #000000;
$goal: #666666;

$data-font: 'BebasRegular', helvetica, sans-serif;
$title-font: 'AlrightSansLight', verdana, sans-serif;

$progress: #3aadd8;
$success: green;