//---------------------------------------------------
//  Global Styles
//---------------------------------------------------

body, html {
  background: #000;
}

h1 {
  font-family: $title-font;
  font-size: 12px;
  font-weight: 100;
}

h2, h3, h4, h5 {
  font-family: $data-font;
  line-height: 1em;
}

header.main {
  background-color: $global_color;
  height: 30px;
  width: 100%;
  @include display-box;
  @include box-align(center);
  @include box-orient(horizontal);
  @include box-pack(center);
}

footer {
  background-color: $global_color;
  height: 15px;
  width: 100%;
}

time h1 {
  color: $time;
  font-size: 16px;
  padding-top: 2px;
}

#wrapper {
  display: -webkit-box;
	display: -moz-box;
	display: box;
	@include display-box;
  @include box-align(strech);
  @include box-orient(horizontal);
  @include box-pack(start);
}

#main-container {
  min-width: 100%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
	box-flex: 1;
}

#divider {
  //@include box-shadow(inset 3px 0 5px 0 rgba(0,0,0,0.3), inset -3px 0 5px 0 rgba(0,0,0,0.3));
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
	box-flex: 0;
	background-color: rgb(0,0,0);
  width: 24px;
}

header.sub {
  height: 15px;
  padding-top: 3px;
}

.stats-bar {
  height: 90px;
  width: 100%;
  @include linear-gradient(#cccccc 0%, #cccccc 20%, #e6e6e6 20%, #bfbfbf 100%);
  @include display-box;
  @include box-align(start);
  @include box-orient(horizontal);
  @include box-pack(start);
}

div.stats-bar-left {
  border-right: 1px solid rgb(140,140,140);
  padding: 0 30px 0 10px;
}

div.stats-bar-left.alone {
  border-right: none;
}

div.stats-bar-right {
  border-left: 1px solid rgb(240,240,240);
  padding: 0 10px 0 30px;
}

div.stats{
  height: 72px;
  min-width: 100%;
  @include display-box;
  @include box-align(center);
  @include box-orient(horizontal);
  @include box-pack(start);
}

.graph {
  background-color: white;
  height: 138px;
  width: 100%;
}

div.triangle {
  border-color: #bfbfbf transparent transparent transparent;
  border-style: solid;
  border-width: 25px 25px 0px 25px;
  height: 0px;
  margin-left: 10px;
  width: 0px;
}

div.icon {
  margin-right: 10px;
}

#visits-icon {
  background: url('/images/visits_icon.png') no-repeat top center;
  height: 35px;
  margin-bottom: 6px;
  width: 35px;
}

#orders-icon {
  background: url('/images/orders_icon.png') no-repeat top center;
  height: 30px;
  margin-bottom: 3px;
  width: 36px;
}

span.arrow-indicator {
  background: url(/images/arrow_indicator.png) no-repeat;
  background-position: 0px -30px;
  display: block;
  height: 30px;
  margin: 0 20px;
  width: 20px;
}

div.progress-indicator {
  background: $progress;
  @include background-image(linear-gradient(hsla(0, 100%, 100%, 1) 0%, hsla(0, 100%, 100%, 1) 30%, transparent 30%));
  @include border-radius(2px);
  @include box-shadow(inset 0px 1px 1px 0 rgba(0,0,0,0.4), 0px 1px 0 0 rgba(255,255,255,0.3)); 
  height: 50px;
  margin: 0 20px 2px 20px;
  width: 20px;
}

h2 {
  color: $current;
  font-size: 40px;
  text-shadow: 0px 1px 0 rgba(255,255,255,1);
}

h3 {
  color: $goal;
  font-size: 40px;
}

h3.dash {
  border-bottom: 2px dashed;
  color: $goal;
  font-size: 34px;
  margin-bottom: 4px;
}

h4 {
  color: $current;
  font-size: 30px;
  text-shadow: 0px 1px 0 rgba(255,255,255,1);
}

h4.goal {
  color: $goal;
  text-shadow: none;
}

