@charset "UTF-8";
/* HTML5 ✰ Boilerplate */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font: 13px/1.231 sans-serif;
  *font-size: small; }

select, input, textarea, button {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

html {
  overflow-y: scroll; }

a:hover, a:active {
  outline: none; }

ul, ol {
  margin-left: 2em; }

ol {
  list-style-type: decimal; }

nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td {
  vertical-align: top; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px; }

textarea {
  overflow: auto; }

.ie6 legend, .ie7 legend {
  margin-left: -7px; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: #FF5E99; }

button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

body, select, input, textarea {
  color: #444; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

a, a:active, a:visited {
  color: #607890; }

a:hover {
  color: #036; }

/**
 * Primary styles
 *
 * Author: 
 */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.hidden {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, #wrapper:before, .clearfix:after, #wrapper:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after, #wrapper:after {
  clear: both; }

.clearfix, #wrapper {
  zoom: 1; }

@media screen and (max-device-width: 480px) {
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */ }
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
body, html {
  background: black; }

#wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-align: strech;
  -moz-box-align: strech;
  box-align: strech;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  margin: 0 auto; }
  #wrapper #main-container {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    min-width: 100%; }
  #wrapper #divider {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    width: 24px; }

h1 {
  font-family: "AlrightSansLight", verdana, sans-serif;
  font-weight: 100; }

h2, h3 {
  font-family: "BebasRegular", helvetica, sans-serif;
  font-weight: 100;
  line-height: 1em; }

body {
  color: black; }

header.main {
  background-color: #4c4c4c;
  height: 30px;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center; }
  header.main time h1 {
    color: white;
    font-size: 16px;
    padding-top: 2px; }

.stats-bar {
  height: 90px;
  width: 100%;
  background-color: #cccccc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cccccc 0%), to(#cccccc 20%));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #cccccc 0%, #cccccc 20%, #e6e6e6 20%, #bfbfbf 100%);
  background-image: -moz-linear-gradient(top, #cccccc 0%, #cccccc 20%, #e6e6e6 20%, #bfbfbf 100%);
  background-image: -ms-linear-gradient(top, #cccccc 0%, #cccccc 20%, #e6e6e6 20%, #bfbfbf 100%);
  background-image: -o-linear-gradient(top, #cccccc 0%, #cccccc 20%, #e6e6e6 20%, #bfbfbf 100%);
  background-image: top, #cccccc 0%, #cccccc 20%, #e6e6e6 20%, #bfbfbf 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start; }
  .stats-bar header.sub {
    height: 15px;
    padding-top: 3px; }
    .stats-bar header.sub h1 {
      font-size: 12px; }
  .stats-bar div.stats-bar-left {
    border-right: 1px solid #8c8c8c;
    padding: 0 30px 0 10px; }
    .stats-bar div.stats-bar-left div.progress-indicator {
      background: white;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: inset 0px 1px 1px 0 rgba(0, 0, 0, 0.5), 0px 1px 0 0 rgba(255, 255, 255, 0.3);
      -moz-box-shadow: inset 0px 1px 1px 0 rgba(0, 0, 0, 0.5), 0px 1px 0 0 rgba(255, 255, 255, 0.3);
      -ms-box-shadow: inset 0px 1px 1px 0 rgba(0, 0, 0, 0.5), 0px 1px 0 0 rgba(255, 255, 255, 0.3);
      -o-box-shadow: inset 0px 1px 1px 0 rgba(0, 0, 0, 0.5), 0px 1px 0 0 rgba(255, 255, 255, 0.3);
      box-shadow: inset 0px 1px 1px 0 rgba(0, 0, 0, 0.5), 0px 1px 0 0 rgba(255, 255, 255, 0.3);
      height: 50px;
      margin: 0 20px 2px 20px;
      overflow: hidden;
      position: relative;
      width: 20px; }
      .stats-bar div.stats-bar-left div.progress-indicator div.progress-fill {
        background-color: #3aadd8;
        -webkit-border-radius: 0 0 2px 2px;
        -moz-border-radius: 0 0 2px 2px;
        -ms-border-radius: 0 0 2px 2px;
        -o-border-radius: 0 0 2px 2px;
        border-radius: 0 0 2px 2px;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        bottom: 0;
        background-color: #61bddf;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#61bddf 10%), to(#3aadd8 100%));
        /* Saf4+, Chrome */
        background-image: -webkit-linear-gradient(top, #61bddf 10%, #3aadd8 100%);
        background-image: -moz-linear-gradient(top, #61bddf 10%, #3aadd8 100%);
        background-image: -ms-linear-gradient(top, #61bddf 10%, #3aadd8 100%);
        background-image: -o-linear-gradient(top, #61bddf 10%, #3aadd8 100%);
        background-image: top, #61bddf 10%, #3aadd8 100%;
        height: 75%;
        overflow: hidden;
        position: absolute;
        width: 18px; }
  .stats-bar div.stats-bar-left.alone {
    border-right: none; }
  .stats-bar div.stats-bar-right {
    border-left: 1px solid #f0f0f0;
    padding: 0 10px 0 30px; }
    .stats-bar div.stats-bar-right span.arrow-up {
      background: url(/images/arrow_indicator.png) no-repeat;
      background-position: 0px -30px;
      display: block;
      height: 30px;
      margin: 0 20px;
      width: 20px; }
    .stats-bar div.stats-bar-right span.arrow-down {
      background: url(/images/arrow_indicator.png) no-repeat;
      background-position: 0px 0px;
      display: block;
      height: 30px;
      margin: 0 20px;
      width: 20px; }
  .stats-bar div.stats {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    height: 72px;
    min-width: 100%; }
    .stats-bar div.stats div.icon {
      margin-right: 10px; }
    .stats-bar div.stats #visits-icon {
      background: url("/images/visits_icon.png") no-repeat top center;
      height: 35px;
      margin-bottom: 4px;
      width: 35px; }
    .stats-bar div.stats #orders-icon {
      background: url("/images/orders_icon.png") no-repeat top center;
      height: 30px;
      margin-bottom: 1px;
      width: 36px; }
    .stats-bar div.stats h2 {
      color: black;
      font-size: 40px;
      text-shadow: 0px 1px 0 white; }
    .stats-bar div.stats h2.goal {
      color: #666666;
      text-shadow: none; }
    .stats-bar div.stats h2.dash {
      border-bottom: 2px dashed;
      font-size: 35px; }
    .stats-bar div.stats h3 {
      color: black;
      font-size: 30px;
      text-shadow: 0px 1px 0 white; }
    .stats-bar div.stats h3.goal {
      color: #666666;
      text-shadow: none; }

div.graph {
  background-color: #ffffff;
  height: 138px;
  width: 100%; }
  div.graph div.triangle {
    border-color: #bfbfbf transparent transparent transparent;
    border-style: solid;
    border-width: 25px 25px 0px 25px;
    height: 0px;
    margin-left: 10px;
    width: 0px; }

footer {
  background-color: #4c4c4c;
  height: 15px;
  width: 100%; }
